{% extends 'base.html' %}

{% block title %}
Accounts
{% endblock title %}

{% block content %}
<main>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for j in account_items %}
                <tr>
                    <td>{{ j.name }}</td>
                    <td>{{ j.number }}</td>
                    <td>{{ j.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
